*{
   margin:0; 
   padding:0;
}
   
.App {
   background: rgba(7, 0, 26, 1);
   font-family: "Open Sans", sans-serif;
}

.Body{
   max-width:1280px;
   margin: 0 auto;
   font-family: "Open Sans", sans-serif;
}


 


